@import "tailwindcss";
@import "tw-animate-css";
html {
  scroll-behavior: smooth;
}
.aurora-text {
  background: linear-gradient(
    90deg,
    #6366f1,
    #8b5cf6,
    #ec4899,
    #6366f1
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 6s ease infinite;
}

@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.aurora-text-second {
  background: linear-gradient(
    90deg,
    cyan,
    purple,
    white,
    green
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 6s ease infinite;
}