@import "tailwindcss";
@import "tw-animate-css";
html {
  scroll-behavior: smooth;
}
.aurora-text {
  background: linear-gradient(
    90deg,
    #eeeef1,
    #79787a,
    #f75252,
    #cc0a0a
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 6s ease infinite;
}

@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.aurora-text-second {
  background: linear-gradient(
    90deg,
    cyan,
    rgb(240, 32, 32),
    white,
    rgb(252, 3, 3)
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 6s ease infinite;
}